/*.chat {*/
/*    background: url("https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png") no-repeat center center fixed;*/
/*    background-size: cover;*/
/*}*/

.sendArea {
    display: grid;
    grid-template-areas: 't b';
    width: 407px;
}

.text {
    grid-area: t;
    margin-left: 10px;
    background-color: midnightblue;
    color: white;
    border: 1px solid black;
    width: 349px;
    height: 50px;
    border-radius: 10px;
}

.button {
    grid-area: b;
    margin-left: 6px;
    height: 55px;
    border-radius: 10px;
    background-color: black;
    color: white;
}