.message {
    padding-left: 10px;
    display: grid;
    grid-template-areas:
            'image name time'
            'image text text';
    grid-template-columns: 30px 280px 128px;
    grid-template-rows: 1fr auto;
    align-items: end;
    justify-content: start;
    word-break: break-all;

}

.image {
    grid-area: image;
    justify-self: center;
    margin-left: 10px;
}

.image img {
    margin-bottom: 5px;
    align-content: center;
    border-radius: 40px;
    height: 40px;
    width: 40px;
}

.name {
    width: 100%;
    border-top-left-radius: 20px;
    padding-left: 20px;
    margin: 10px 0 0 20px;
    color: violet;
    grid-area: name;
    background-color: midnightblue;
}

.text {

    border-bottom-right-radius: 20px;
    position: relative;
    padding-left: 20px;
    padding-bottom: 3px;
    margin: 0 20px 10px 20px;
    color: white;
    grid-area: text;
    background-color: midnightblue;
}

.text:before {
    content: "";
    position: absolute;
    left: -30px;
    bottom: 0;
    height: 30px;
    width: 30px;
    border-bottom-right-radius: 50%;
    background: transparent;
    box-shadow: 15px 0 0 0 midnightblue;

}

.time {
    width: 100%;
    border-top-right-radius: 20px;
    padding-right: 0px;
    margin: 20px 20px 0 0;
    color: darkorange;
    grid-area: time;
    background-color: midnightblue;
    justify-self: right;
}
