.navWrapper {
    display: flex;
    flex-direction: column;
}

.navigationHide {
    position: fixed;
    left: 0;
    top: 52px;
    transform: translate3d(-100vw, 0, 0);
    transition: transform 0.2s ease;

    width: 100vw;
    height: 100vh;
}

.navigationAppear {
    transform: translate3d(0vw, 0, 0);
    transition: transform 0.5s ease;
}

.link {
    margin: 5px;
    background: deepskyblue;
    border: 1px solid deepskyblue;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    padding: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.link:hover {
    color: white;
}

.navButton {
    height: 24px;
    margin-left: 5px;
    margin-bottom: 5px;
    border: 1px solid deepskyblue;
    border-radius: 5px;
    background: deepskyblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navButton:hover {
    cursor: pointer;
    color: white;

}


